.left{float: left}
.right{float: right}
.com_width{width:1200px; margin: 0 auto;}
.clear{clear: both}
.hide{display: none}
.show{display: block}

@font-face {
    font-family: 'iconfont';  /* project id 594839 */
    src: url('//at.alicdn.com/t/font_594839_ccdkoebj5yuy2e29.eot');
    src: url('//at.alicdn.com/t/font_594839_ccdkoebj5yuy2e29.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_594839_ccdkoebj5yuy2e29.woff') format('woff'),
    url('//at.alicdn.com/t/font_594839_ccdkoebj5yuy2e29.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_594839_ccdkoebj5yuy2e29.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
/*=============================================
  Loadingstyles
================================================*/

@keyframes lds-eclipse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes lds-eclipse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.lds-eclipse {
    position:absolute;
    width: 160px;
    height: 160px;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.lds-eclipse div {
    position: absolute;
    -webkit-animation: lds-eclipse 1s linear infinite;
    animation: lds-eclipse 1s linear infinite;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-shadow: 0 6px 0 0 #84b3e2;
}

.lds-css{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 99;
    background: #fff;
}
.lds-css span{
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    font-size: 40px;
    top:50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    line-height: 100px;
    text-align: center;

}


/*t头部导航*/
.tb_top{height: 35px;background-color: #f5f5f5;border-bottom: solid 1px #eee;}
.tb_top a{color: #6C6C6C}
.tb_top_navl{height:35px; position: relative;}
.tb_top_navl li{height: 35px;line-height: 35px;padding-right: 15px}
.tb_top_navl_region span{border-right: solid 1px transparent;border-left: solid 1px transparent;
padding-left: 15px;display: block;color: #6C6C6C}
.down{height: 20px;width: 20px;margin-top: 8px;float: right;}
.tb_top_navl_login a{color: #f22e00}
.tb_top_navl_n a:hover{color:#f22e00 }
.tb_top_navl_regiondrop{display:none;position: absolute;width: 260px;top: 35px;height: 280px;
overflow: scroll;overflow-x:hidden;border-bottom: solid 1px #eeeeee;border-left: solid 1px #eeeeee;
    border-right: solid 1px #eeeeee;background-color: #ffffff;z-index: 10;}
.tb_top_navl_regiondrop ul{padding-top: 10px}
.tb_top_navl_regiondrop li{display: block;height:28px;line-height: 28px;padding-left: 15px}
.tb_top_navl_regiondrop li:hover{background-color: #f4f4f4}
.tb_top_navl_region:hover .tb_top_navl_regiondrop{display: block}
.tb_top_navl_region:hover .tb_top_navl_regionspan{border-right: solid 1px #eeeeee;border-left: solid 1px #eeeeee;background-color: #ffffff}



.tb_top_navr span{color: #dddddd;display: inline-block;height: 35px;line-height: 35px;padding:0 0 0 5px;margin-right: 5px;
    border-right: solid 1px transparent;border-left: solid 1px transparent;}
.tb_top_navr li{float: left;height: 35px;line-height: 35px;;position:relative; }
.tb_top_navr_shopcar{background: url("icon/cart_fill.png" ) left center no-repeat;text-indent: 6px}
.tb_top_navr_favoritesspan{background: url("icon/fav_fill.png" ) 5px center no-repeat;text-indent:17px}
.tb_top_navl_guidespan{background: url("icon/caidan.png" ) 7px center no-repeat;text-indent:20px}

.tb_top_navr_drop{position: absolute;left:0;padding: 10px 0;border-bottom: solid 1px #eeeeee;display: none;
    border-left: solid 1px #eeeeee;border-right: solid 1px #eeeeee;background-color: #ffffff;z-index: 10}
.tb_top_navr_drop li{height:28px;line-height: 28px;padding: 0 0 0 3px;width: 100%}
.tb_top_navr_drop li:hover{background-color: #f4f4f4}
.tb_top_navr_mtb:hover .tb_top_navr_mtbspan{border-right: solid 1px #eeeeee;border-left: solid 1px #eeeeee;
    background-color: #ffffff;}
.tb_top_navr_mtb:hover .tb_top_navr_mtbspan a{color: #f22e00}
.tb_top_navr_mtb:hover .tb_top_navr_drop{display: block}
.tb_top_navr_shopcar:hover .tb_top_navr_shopcarspan a{color: #f22e00}
.tb_top_navr_favorites:hover .tb_top_navr_favoritesspan{border-right: solid 1px #eeeeee;border-left: solid 1px #eeeeee;
    background: #ffffff url("icon/fav_fill (1).png") 5px center no-repeat ;}
.tb_top_navr_favorites:hover .tb_top_navr_favoritesspan a{color: #f22e00}
.tb_top_navr_favorites:hover .tb_top_navr_drop{display: block}
.tb_top_navl_shopclass a:hover{color: #f22e00}
.tb_top_navr_seller:hover .tb_top_navr_sellerspan{border-right: solid 1px #eeeeee;border-left: solid 1px #eeeeee;
    background-color: #ffffff;}
.tb_top_navr_seller:hover .tb_top_navr_sellerspan a{color: #f22e00}
.tb_top_navr_seller:hover .tb_top_navr_drop{display: block}
.tb_top_navr_contact:hover .tb_top_navr_contactspan{border-right: solid 1px #eeeeee;border-left: solid 1px #eeeeee;
    background-color: #ffffff;}
.tb_top_navr_contact:hover .tb_top_navr_contactspan a{color: #f22e00}
.tb_top_navr_contact:hover .tb_top_navr_drop{display: block}
.tb_top_navl_guidedrop{display:none;width:1188px;border-bottom: solid 1px #eeeeee;background-color: #ffffff;
    border-left: solid 1px #eeeeee;border-right: solid 1px #eeeeee;position: absolute;top:35px;right: 0;z-index: 10}
.tb_top_navl_guide span{margin:0;}
.tb_top_navl_guidedrop4{width:25%;border-right: 1px solid #eeeeee;margin-right: -1px;float: left}
.tb_top_navl_guidedrop4 h3{color:#fc4200;margin:5px;font: 16px/28px tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    font-weight: 600;padding-left: 5px;}
.tb_top_navl_guidedrop ul{padding: 0 5px;}
.tb_top_navl_guidedrop4 li{width: 25%;height: 25px;line-height: 25px;margin: 2px 0}
.tb_top_navl_guidedrop a{float: left;height: 25px;line-height: 25px;padding: 0 8px;border-radius: 2px;
    color: #3c3c3c;}
.tb_top_navl_guidedrop a:hover{background-color: #ff5500;color: #ffffff}
.tb_top_navl_guidedrop3 h3{color:#fc4200;margin:5px;font: 16px/28px tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    font-weight: 600;padding-left: 5px;}
.tb_top_navl_guidedrop3{width:25%;border-right: 1px solid #eeeeee;margin-right: -1px;float: left}
.tb_top_navl_guidedrop3 li{width: 33.3%;height: 25px;line-height: 25px;margin: 2px 0}
.tb_top_navl_guidedrop2 h3{color:#d75696;margin:5px;font: 16px/28px tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    font-weight: 600;padding-left: 5px;}
.tb_top_navl_guidedrop2{width:25%;border-right: 1px solid #eeeeee;margin-right: -1px;float: left}
.tb_top_navl_guidedrop2 li{width: 33.3%;height: 25px;line-height: 25px;margin: 2px 0}
.tb_top_navl_guidedrop1 h3{color:#2e9fdb;margin:5px;font: 16px/28px tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    font-weight: 600;padding-left: 5px;}
.tb_top_navl_guidedrop1{width:25%;float: left;margin-right: -1px;}
.tb_top_navl_guidedrop1 li{width: 50%;height: 25px;line-height: 25px;margin: 2px 0}
.tb_top_navl_guide:hover .tb_top_navl_guidespan a{color: #f22e00}
.tb_top_navl_guide:hover .tb_top_navl_guidespan{border-right: solid 1px #eeeeee;border-left: solid 1px #eeeeee;
    background-color: #ffffff;}
.tb_top_navl_guide:hover .tb_top_navl_guidedrop{display: block}

/*头部搜索*/
.tb_top2{height: 90px;margin: 22px 0 8px 0;}
.tb_top2_logo{margin-left: 22px;padding-top: 10px;}
.tb_top2_sh{width: 630px;height: 90px;padding-left: 100px;position: relative}
.tb_top2_shtopdiv{height: 22px;float: left;margin-left: 15px;overflow: hidden;padding-bottom: 3px}
.tb_top2_shtop{padding-top: 3px;color: #ff4400;display: block}
.tb_top2_shtop li{float: left;width: 36px;height: 22px;line-height: 22px;text-align: center;}
.tb_top2_shtop_li:hover{background-color: #FFEEE5;}
.tb_top2_shtopact{font-weight: 700;color:#ffffff;background-color:#ff5000;border-top-right-radius: 6px;
    border-top-left-radius: 6px;}
.tb_top2_shtopact:hover{font-weight: 700;color:#ffffff;background-color:#ff5000;border-top-right-radius: 6px;
    border-top-left-radius: 6px;}
.tb_top2_shmdinput{width: 554px;height: 36px;border: solid 2px #ff5000;border-right:none;
    border-radius: 20px 0 0 20px;overflow: hidden }
.tb_top2_shmdinput input{width: 472px;height: 36px;border:none;background: url("icon/search.png") 10px 10px no-repeat;
text-indent: 10px;outline: 0;}
.tb_top2_shmdinputimg img{padding-top: 4px;padding-left: 30px;}
.tb_top2_shmdbtn {font-size: 18px;font-weight: 700;color: #FFF;background-color: #FF4200;
 height:40px;border: none;width: 74px;border-radius: 0 20px 20px 0;}
.tb_top2_shbot{height: 18px;width: 630px;position: absolute;left: 110px;top: 70px;color: #6C6C6C;visibility: hidden}
.tb_top2_shbot.active{visibility: visible}
.tb_top2_shbot li{float: left;margin-right: 8px}
.tb_top2_shbot a:hover{color: #ff5000}
.tb_top2_shbot a.active{color: #ff5000}
.tb_top2_shbot span{float: right;padding-right: 20px;}
.tb_top2_mtaobao{color: #ff5000;position: relative;padding: 3px 120px 0 0}
.tb_top2_qrcode{border: 1px solid #eeeeee;display: block;text-align: center;height: 85px}
.tb_top2_qrcodeimg{width: 62px;height: 62px;padding: 0 5px 5px 5px;}
.tb_top2_mtaobaoclose{border: solid 1px #eeeeee;position: absolute;left: -15px;height: 13px;width: 13px;
    background: url("icon/close.png") 2px 2px no-repeat}
.tb_top2_mtaobaoclose:hover{background: url("icon/close1.png") 2px 2px no-repeat}
.tb_top2_mtaobaoclose img{padding: 2px}

/*中部导航*/
.tb_md_nav{height: 30px;background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);color:#FFFFFF;
    font-size:14px ;line-height:30px;}
.tb_md_nav h2{width:190px;background-color:#ff5000;text-align:center;float: left;font-size:16px}
.tb_md_nav ul{float:left;font-weight:700}
.tb_md_navul1{font-size:16px}
.tb_md_nav li{float: left;padding: 0 10px;position: relative}
.tb_md_nav span{float:left;}
.tb_md_nav li:hover:before{content: url("icon/wangwang.png");position: absolute;z-index: -1;top:-10px;left: 50%
;margin-left: -16px}

/*中部内容*/
.tb_md{background-color: #f4f4f4;width: 100%}
.tb_md_lt{height: 521px;width: 190px;border: 1px solid #ff5000;border-top: none;background-color: #FFFFFF;
color: #666666;}
.tb_md_lt li{line-height: 32px;font-size: 14px;font-weight: 400;height: 32px;padding: 0 19px 0 25px;
background: url("icon/right.png") 170px 10px no-repeat;}
.tb_md_lt li:hover{color: #ff5000;background-color: #ffe4dc;transition: all 0.2s}
.tb_md_lt ul{padding-top: 5px;}
.tb_md_lt a{padding:0 1px}
.tb_md_lt a:hover{text-decoration: underline}
.tb_md_md{height: 512px;width: 698px;margin: 10px}
.tb_md_bot{height: 100px;width:900px;background-color: #FFFFFF}

/*幻灯片1*/
.tb_md_mdslide{height: 280px;width: 520px;position: relative;overflow: hidden}
.tb_md_mdslide:hover .tb_slide1slipshow1{display: block;}
.tb_slide1{position: absolute;width: 3640px;height: 280px;left: -520px;}
.tb_slide1 img{float: left}
.tb_slide1slipshow1{position: absolute;top:50%; display: none;}
.tb_slide1slip a{background-color: rgba(0,0,0,.3);height: 30px;width: 20px;display: block;}
.tb_slide1slip img{padding: 8px 0;}
.tb_slide1slip a:hover{background-color: rgba(0,0,0,.5);}
.tb_slide1sliplf{border-top-right-radius:15px;border-bottom-right-radius:15px;
    background-clip: padding-box;left:0;position: absolute}
.tb_slide1sliprt{border-top-left-radius:15px;border-bottom-left-radius:15px;
    background-clip: padding-box;left:500px;position: absolute}
.tb_slide1bot{position: absolute;background-color: rgba(255,255,255,.3);bottom: 20px;left:223.5px;height: 12px;
line-height: 12px;padding: 0 4px;border-radius: 10px;cursor: default}
.tb_slide1bot li{width:8px;height: 8px;border-radius:50%;background-color: #FFFFFF;
    display:inline-block; }
.tb_slide1bot li:hover{cursor: pointer}
.tb_slide1bot li.active{background-color: #ff5000;}

.tb_md_mdimg1{margin-left: 10px;height: 280px;width: 160px;margin-bottom: 10px}
.tb_md_mdimg2 p{color: #a1a1a1;}
.tb_md_mdimg2{width: 160px;height: 230px;}

.tb_md_mdtmall{width: 520px;height: 230px}
.tb_md_mdtmalltop{width: 520px;height:32px}
.tb_md_mdtmalltopimg{height: 18px;line-height: 18px;color: #666;width: 520px;padding:10px 2px 0}
.tb_md_mdtmalltopimg em{padding-left: 15px;}
.tb_md_mdtmalltopimg strong{float: right;font-weight: inherit}
.tb_md_mdtmalltopimg span{color: #ff1648;font-weight:400;}
.tb_md_mdtmallbot{height: 3px;width: 520px;background-color: #ff1648;margin-top: 1px}
.tb_md_mdtmallbot ul{margin-right: -1px}
.tb_md_mdtmallbot li{width: 16.66%;height:3px;float: left;overflow: hidden}
.tb_md_mdtmallbot li.active{background-color: #000000}
/*幻灯片2*/
.tb_slide2{height: 200px;width: 520px;position: relative;background-color: #FFFFFF;overflow:hidden}
.tb_slide2box{position: absolute;width: 4160px;height: 200px;left: -519px;}
.tb_slide2:hover .tb_slide1slipshow2{display: block}
.tb_slide2box a{float: left;border-right: 1px #ebebeb solid;border-bottom:  1px #ebebeb solid;
background-color: #FFFFFF}
.tb_slide2box img{float: left}
.tb_slide2box0{height: 200px;width: 520px;float: left;}
.tb_slide2box2 a,.tb_slide2box4 a{border: none}
.slide2box1_type1{width: 129px;height: 200px}
.slide2box2_type1{padding: 9px 10px;width: 239px}
.slide2box3_type1{width:172px;height: 200px}
.slide2box3_type2{width:172px;height:100px}
.slide2box4_type1{padding: 22px 4px;}
.slide2box6_type1{width: 89px;height: 46px;padding:10px 20px}
.slide2box6_type2{width: 89px;height: 46px;padding:10px 20px}
.tb_slide1slipshow2{position: absolute;top:85px; display: none;}
/*淘宝头条*/
.tb_md_bottbtt{padding: 14px 14px 12px 20px;color: #999;}
.tb_md_bottbtt h3{background:url("icon/tbtt.png") 0 14px no-repeat;width: 180px;height: 73px;}
.tb_md_bottbtt h3 p{line-height: 24px;height: 24px;font-weight: 400;padding-top: 40px;}
.tb_slide3{height: 73px;width: 676px;position:relative; float:left;overflow: hidden}
.tb_slide3more{position:absolute;top:0;right: 0;z-index: 10}
.tb_slide3more:hover{color:#ff5000}
.tb_slide3box{height: 219px;width: 676px;position:absolute;left: 0;top:-146px;transition: top 1s;}
.tb_slide3box a{float: left;}
.tb_slide3box img{float: left;height: 73px;width: 130px;}
.tb_slide3box h4{margin-top: 2px;margin-left: 144px;color: #333;height: 28px;overflow: hidden;
    display: block;line-height: 28px;font-size: 16px;font-weight: 500;}
.tb_slide3box p{margin-left: 144px;height: 36px;overflow: hidden;line-height: 18px;font-size: 14px;}
.tb_slide3:hover .tb_slide3box img{opacity: 0.8;transition: opacity .2s;}
.tb_slide3:hover .tb_slide3box h4{color: #ff5000}
/*右侧登录*/
.tb_md_rt{height: 622px;width: 290px;margin-top: 10px;background-color: #FFFFFF}
.tb_md_rtlogin{width: 290px;height: 145px;text-align: center;background: url("icon/loginbg.png") left top no-repeat;
    background-size: 290px 145px;}
.tb_md_rtloginicon{border-radius: 50%;height: 50px;width: 50px;overflow: hidden;display: inline-block;margin-top: 10px}
.tb_md_rtloginp{height: 17px;line-height:17px;display: inline-block;color: #ff5000;border-radius: 9px;padding: 0 10px 0 20px;}
.tb_md_rtlogincoin{background: url("icon/icons.png") left top no-repeat;background-position: 0 -572.5px;background-color: #ffe4db;}
.tb_md_rtloginclub{background: url("icon/icons.png") left top no-repeat;background-position: 0 -528px;background-color: #ffe4db;}
.tb_md_rtlogin li{display: inline-block}
.tb_md_rtlogin li a{display: inline-block;color: #FFF;background-image: linear-gradient(to right,#ff5000 0,#ff6f06 100%);
    background-repeat: repeat-x;line-height: 25px;border-radius: 4px;background-clip: padding-box;font-size: 14px;
    font-weight: 700;width: 80px;margin-top: 10px}

.tb_md_rtreport{height: 26px;line-height: 26px;color: #f40;;background: #ffe4dd;position: relative}
.tb_md_rtreport a{display: block;t;padding-left: 82px}
.tb_md_rtreport span{border-style: solid;margin-left: 32px;border-width: 5px 0 5px 7px;position: absolute;
    border-color: transparent transparent transparent #f40;right: 52px;top: 9px;}

.tb_md_rtnotice{width: 290px;height: 98px;padding-top: 10px;}
.tb_md_rtnotice a:hover{color: #ff5000}
    .tb_md_rtnotice a.active{color: #ff5000}
.tb_md_rtnoticetop{padding-left: 10px}
.tb_md_rtnoticetop li{float: left;line-height: 20px;width: 32px;text-align: center;margin: 0 11px;border-bottom: 2px solid transparent;}
.tb_md_rtnoticetop li.active{font-weight: 700;border-bottom: 2px solid #ff5000;}
.tb_md_rtnoticebot ul{margin: 0 12px;padding-top: 9px;padding-bottom: 6px;height: 50px;float: left;}
.tb_md_rtnoticebot ul:first-child li:first-child{width: 260px;}
.tb_md_rtnoticebot li{float: left;line-height: 25px; height: 25px;width: 130px;overflow: hidden;}
/*conve*/
.tb_md_rtconve{width: 290px;height: 228px;border-top: 1px solid #f4f4f4;color: #333333;position:relative;}
.tb_md_rtconve li{width: 70px;height: 74px;float: left;border: 1px solid #f4f4f4;border-left-color: transparent;
    border-top-color: transparent;overflow: visible;text-align: center}
.tb_md_rtconve li.active{width: 71px}
.tb_md_rtconve li.selected{border:1px solid #ff5000;border-bottom:1px solid #FFFFFF;z-index:10;
    position: relative;background-color:#FFFFFF}
.tb_md_rtconve li:hover{color: #ff5000}
.tb_md_rtconve a{padding-top: 1px;text-align: center;display: block;}
.tb_md_rtconve span {display: inline-block;width: 24px; height: 24px; margin-top: 11px;
    background: url("icon/icons.png") 0 0 no-repeat;}
.phone:hover,.travel:hover,.car:hover{border:1px solid #ff5000;border-bottom:1px solid #FFFFFF;z-index:10;position: relative }
.tb_md_rtconve .conve2{background-position: 0 -85px;}
.tb_md_rtconve .conve3{background-position: 0 -44px;}
.tb_md_rtconve .conve4{background-position: 0 -132px;}
.tb_md_rtconve .conve5{background-position: 0 -176px;}
.tb_md_rtconve .conve6{background-position: 0 -220px;}
.tb_md_rtconve .conve7{background-position: 0 -264px;}
.tb_md_rtconve .conve8{background-position: 0 -308px;}
.tb_md_rtconve .conve9{background-position: 0 -352px;}
.tb_md_rtconve .conve10{background-position: 0 -396px;}
.tb_md_rtconve .conve11{background-position: 0 -440px;}
.tb_md_rtconve .conve12{background-position: 0 -484px;}

.conve_contianer{width: 288px;height: 156px;position: absolute;background-color: #FFFFFF;top:75px;left: 0;
    border:1px solid #F40;transition: border-color .1s;z-index:5;color: #666666 }
.conve_com{width: 288px;height:160px;position: relative;overflow: hidden;}
.contianer_nav{padding: 10px 25px 10px 10px}
.contianer_nav a{display: inline-block;width: 40px;margin: 0 10px}
.contianer_nav a:hover{color: #ff5000}
.contianer_nav a.active{color: #ff5000}
.contianerbox{position: absolute;top:40px;left:10px;width: 10000px;transition: left 0.2s;}
.conve_input{margin-top: -1px;border: 1px solid #cccccc;position: relative}
.conve_input:hover{border-color: #999999;z-index:1 }

.conve_input input{width: 166px;float: left;height: 18px;line-height: 18px;outline:0;border: 0;
    text-indent: 2px;padding: 4px 20px 4px 3px;}
.conve_input span{background: url("icon/phone.png") left top no-repeat;background-position: -24px 5px;
    float: left;cursor: pointer;margin:0 0 0 -20px;display: inline-block;width: 20px;line-height: 24px}
.phonefare div:nth-child(2) span{background-position: -4px -21px;}
.conve_drop{position:absolute;top:52px;width: 189px;background-color: #FFFFFF;
    border: 1px solid #999999;overflow: hidden;}
.conve_drop li{width: 92px;height: 26px;color: #000000;float: left;text-align: center;line-height: 26px}
.conve_drop li:hover{background-color:#ffe4dd;color: #FF5000;cursor: pointer}
.conve_drop .seleted{background-color:#ffe4dd;color: #FF5000}
.conve_drop em{font-weight: 700;height: 26px;line-height: 26px}
.conve_slide{width: 288px}
.conve_slideprice{height: 16px;line-height: 16px;margin-top: 6px;float: left;width: 100%}
.conve_slideword{display: inline-block;width: 32px;text-align: center;float: left;}
.conve_slidepricenum{display: inline-block;float: left}
.conve_slidepricenum span{background: none;line-height: 16px;height: 16px;margin: 0;width: 10px}
.conve_slidepricenum strong{color: #f60;font-weight: 700;}
.conve_slidebut{float: left}
.conve_slidebut a{display: inline-block; margin: 8px 10px 0 0;padding: 3px 10px; height: 21px;line-height: 21px;
    font-weight: 700; color: #fff; background: #f40;-webkit-font-smoothing: antialiased;}
.conve_input .flowinput {width: 71px;}
.phoneflowclass{position: relative}
.phoneflowclass span{background-position: -4px -21px;}
.phoneflow2{width: 200px;position: relative}
.phoneflow2 div:first-child{margin-right: -1px}
.phoneflow2 .conve_drop{width: 94px;top:26px}
.flowquantity{left: 95px}
.flowquantity li{width: 45px;}
.flowdetail{color:#29AEFE;position: absolute;right: -20px;top:5px;cursor: text;z-index: 1}
.flowcontain{position: absolute;left:30px;top:35px;background-color: #FFFFFF;border: 1px solid #cccccc;
width: 190px;padding: 10px 0 10px 10px;display: none}
.flowcontain p{height: 16px;line-height: 16px;display:inline-block;}
.flowcontain:before{content: "";position: absolute;top: -15px;right:16px;border-width: 7px;border-style: solid;
    border-color:  transparent transparent  #cccccc transparent;}
.flowcontain:after{content: "";position: absolute;top: -14px;right:16px;border-width: 7px;border-style: solid;
    border-color:  transparent transparent  #FFFFFF transparent;}
.telefareradio{float: left;width: 190px;text-indent:-20px;height: 16px;line-height: 16px;margin-bottom: 5px; }
.telefareradio input{margin-left: 20px;line-height: 16px;padding-top: 2px}
.telefareinput input:first-child{width: 28px;padding: 4px}
.telefareinput input{width:126px}
.telefareinput em{width: 4px;padding-top: 4px;}
.telefare #telefarespan{background-position:-4px -21px; }
.telefaredrop{top:74px}
.telefarebut a{margin-top: 0}
.telesubmit{margin-top: 5px}
.telesubmit .conve_slideprice{width: auto}
.bbfare{position: relative}
.bbfare div:first-child span{background-position:-4px -21px }
.bbfare div:nth-child(3) span{background-position:-4px -21px; }
.bbfare div:nth-child(4){top:78px;}
.bbquest{right:70px;top:32px;cursor: help;background:url("icon/question.png") left top no-repeat;width:16px;
    height:16px;}
.bbquest img{float: left}
.bbquestcontain{top:53px}
.conve_close{width: 16px;height: 16px;position: absolute;right: 5px;top:5px;text-align: center;z-index: 5}
.conve_close:hover{background-color: #eeeeee}
.trip form{width: 290px;height: 105px;position: relative}
.trip_nav{padding: 10px 15px 10px 10px}
.trip_nav a{width: 48px;margin: 0}
.trip_input{margin-right: 20px;}
.trip_input input{width:70px ;}
.trip_input span{background-position: -22px -85px;}
.trip_label{float: left;height: 26px;line-height: 26px;padding: 0 3px;color: #6B6B6B;background-color: #F5F5F5;}
.trip form i{font-style: normal;margin-left: -45px;opacity: 0.5}
.trip form em{position: absolute;width:15px;height: 20px;background: url("icon/trip.png") left top no-repeat;
    background-position: unset;top: 30px;left: 130px;overflow: hidden;text-indent: -2000px;}
.trip_input .date_span{background-position:-4px -21px}
.car_input span {background: url("icon/car.png") left top no-repeat; background-position: -24px -21px;}
.tb_md_rtbot{width: 290;height: 111px;padding-top: 1px;    color: #3C3C3C;}
.tb_md_rtbot h3{height: 30px;line-height: 30px;font-size: 14px;padding-left: 14px;}
.tb_md_rtbot h3 a{font-size: 12px;font-weight: 400;float: right;padding-right: 20px}
.tb_md_rtbot h3 a:hover{color: #ff5000}
.tb_md_rtbot ul{padding-left: 15px}
.tb_md_rtbot li{width: 32px;height: 32px;margin: 4px 10px;float: left;position: relative;z-index: 10}
.tb_md_rtbot a img{width: 32px;height: 32px}
.app_qr{bottom: 39px; left: -32px;width: 90px;height: 102px;background: #FFF;border: 1px solid #dedede;
    text-align: center;display: none;position: absolute;z-index: -1;}
.app_qr img{width: 66px;height: 66px;padding: 12px;}
.app_qr p{position: absolute;bottom: 3px;left: 0;right: 0;height: 20px;line-height: 20px;color: #666;}
.tb_md_rtbot li:hover .app_qr{display: block;}
.tb_shyjs{background: #FFF;margin-top: 10px;height: 166px;width: 1200px}
.tb_shyjs h3{margin: 20px;}
.tb_shyjs img{height: 24px;}
.tb_shyjs p{line-height: 24px;height: 24px;color: #999;font-weight: 400;margin-left: 100px}
.tb_shyjsul{padding-left: 20px}
.tb_shyjsul li{position: relative;float: left;width: 194px;height: 82px;}
.tb_shyjsimg{border: 1px solid #13d0a1;border-radius: 100%;padding: 7px;overflow: hidden;}
.tb_shyjsimg img{display: block; width: 66px;height: 66px;}
.tb_shyjsright{float: right;padding: 10px 10px 0 0}
.tb_shyjsright h4{height: 24px;overflow: hidden; display: inline-block;font-size: 16px;font-weight: 500;}
.tb_shyjsright p{overflow: hidden;height: 22px;font-size: 14px;line-height: 22px;color: #999;margin: 0;}
.tb_shyjsul li:hover h4{color: #ff5000}
.tb_shyjsul li:hover .tb_shyjsimg{border-color: #ff5000}
.tb_shyjsright i{height: 22px;line-height: 22px}
.tb_shyjsright img{height: 14px;width:14px;padding-top:3px;float: left}
.tb_yhhagj{width: 100%;margin-top: 10px}
.tb_yhhagjcom{width: 594px;background-color: #FFFFFF}
.tb_yhhagjcom h3{margin: 20px;}
.tb_yhhagjcom img{height: 24px;margin-right: 5px;}
.tb_yhhagjcom h3 p{line-height: 24px;height: 24px;color: #999;font-weight: 400;}
.tb_yhhagjQRc{position: relative;float: left;width: 26px;text-align: center;height: 24px;}
.tb_yhhagjQRc:hover .tb_yhhagjQRcbox{z-index: 5;opacity: 1}
.tb_yhhagjQRc img{height: 14px;width: 14px;float: left;padding: 5px 0 0 5px}
.tb_yhhagjQRcbox{position: absolute;left: -17px;width: 66px;height: 80px;padding: 10px;background: #fff;
    z-index: -1;border: 1px solid #f0f0f0;top:25px;opacity: 0;transition: all .2s;}
.tb_yhhagjQRcbox img{width: 66px;height: 66px;padding: 0}
.tb_yhhagjQRcbox em{position: absolute; left: 0;right: 0;bottom: 3px;text-align: center;
    color: #666;font-weight: 400;font-size: 12px;}
.tb_yhhagjrt{float: right;cursor:pointer;}
.tb_yhhbox{padding-left: 21px;}
.tb_yhhbox:before{content: " ";display: table;}
.tb_yhhbox a{float: left;width: 180px;margin: 0 4px 17px 0;}
.tb_yhhbox a:hover{color: #ff4400}
.tb_yhhbox a:hover .tb_yhhboximg{background-color:#000000}
.tb_yhhboximg{background-color: #4f4f4f;}
.tb_yhhboximg img{width: 100%;height: 180px;opacity: .9;transition: all .2s}
.tb_yhhinfo{padding: 0 4px 0 6px}
.tb_yhhinfo h4{margin-top: 5px;font-size: 16px;height: 28px;overflow: hidden; line-height: 28px;
font-weight: normal;}
.tb_yhhinfo p{line-height: 24px;color: #999;font-size: 14px;overflow: hidden;height: 24px;}
.tb_yhhinfo .extra{line-height: 22px;height: 22px;margin-top: 12px;color: #35b1ff;}
.tb_yhhinfo .extra span{float: left}
.tb_yhhinfo .extra img{height: 16px;width: 16px;float: left;padding-top: 2px}
.tb_agjinfo p{margin-top: 11px;height: 48px;text-indent: 20px}
.tb_agjinfo .extra img{width: 22px;height:22px;border-radius: 50%;overflow: hidden;margin: 0;
padding-top: 0}
.tb_agjinfo .extra{margin-top: 10px;font-size: 12px;color: #999;}
.tb_agjinfo .extra{text-indent: 8px}
.tb_ymrhdbox a{width: 270px;position: relative}
.tb_mrhdinfo{width: 270px}
.tb_mrhdinfo h4{font-size: 16px;font-weight: normal;display: inline-block}
.tb_mrhdinfo p{color: #999;display: inline-block;margin-left: 5px}
.tb_mrhdboximg{width:100%;height: 180px;position: relative}
.tb_mrhdimg img{width: 89px;height: 89px;float: left;margin: 0;opacity: 0.9;}
.tb_mrhdboximg .tb_mrhdimg:first-child{width: 180px;height: 180px;margin-right: 1px}
.tb_mrhdboximg .tb_mrhdimg:first-child img{width: 180px;height: 180px;}
.tb_mrhdboximg .tb_mrhdimg:last-child{width: 89px;height: 89px;margin-top: 1px}
.tb_mrhdboximg .tb_mrhdimg:last-child img{width: 89px;height: 89px;}
.tb_mrhdimg:hover {background-color:#000000 }
.tb_mrhdtbzb{width: 100%;margin-top: 10px}
.tb_ymrhdbox span{position: absolute;color: #FFFFFF;overflow: hidden;;bottom:8px;left: 15px;
font-size: 14px}
.tb_ssblw{width: 100%;height: 285px;margin-top: 10px}
.tb_midcom{background-color: #FFFFFF;width: 100%;}
.tb_midcom .item{width: 278px;border: 1px solid transparent; border-right: 1px solid #f4f4f4;
    border-bottom-color: #fff;float: left;height: 234px;}
.tb_midcom .item:hover{border-color: #ff5000}
.tb_midcom .item .info{padding-left: 20px;}
.tb_midcom .item h4{margin-top: 27px;font-size: 18px;color: #333;line-height: 26px;height: 26px;
    font-weight: normal;}
.tb_midcom .item h4 a:hover{color: #ff5000}
.tb_midcom .item .img img{width: 120px;height: 120px;display: block;}
.tb_midcom .item p{color: #999; line-height: 22px;height: 22px;overflow: hidden;}
.tb_midcom .item img{margin-top: 12px;padding-left: 16px;}
.tb_ssblwlt{width: 840px;}

.h3_com{color: #AD45Df;border-bottom: 1px solid #f4f4f4;position: relative;padding-left: 32px;margin-top: 5px;
    line-height: 48px; font-size: 20px;}
.h3_com:before{content: '';position: absolute;width: 4px;height: 16px;top: 16px;left: 20px;
    background-image: linear-gradient(45deg, #8558d6, #b865e2);}
.tb_ssblwrt{width: 338px;background-color: #FFFFFF;border: 1px solid transparent;}
.tb_ssblwrt:hover{border-color: #ff5000}
.tb_ssblwrt img{width: 300px;height: 250px;padding: 17px 20px}
.tb_pzts{width: 100%;margin-top: 10px;transition: all 0.2s;}
.tb_pztscomdiv{border: 1px solid transparent;border-right-color: #f4f4f4;border-bottom-color: #f4f4f4;}
.tb_pztscomdiv:hover{border-color: #ff5000}
.tb_pzlt{width: 595px;background-color: #FFFFFF;}
.tb_pztsltlt{width: 294px}
.tb_pztsltrt{width: 301px}
.tb_pztscomimg1{width: 254px;height: 317px;padding: 19px;}
.tb_pztscomimg1 a{background-color: #000000;width: 254px;height: 317px;display: block}
.tb_pztscomimg1 img:hover{opacity: 0.8}
.tb_pztscomimg1 img{width:254px;height:317px;float: left;opacity: 0.9}
.tb_pztscomimg2{height: 117px;width: 292px;}
.tb_pztscomimg2 h4{font-size: 18px;color: #333;height: 30px;line-height: 30px;padding:35px 0 0 40px;width: 122px;display: inline-block}
.tb_pztscomimg2 p{color: #999;line-height: 20px;font-size: 12px;padding-left: 40px;width: 122px;display: inline-block}
.tb_pztscomimg2 img{width: 100px;height: 100px;padding: 10px 20px 0 0}
.tb_pztscomimg3{height: 176px;padding: 30px 19px;width:261px}
.tb_pztscomimg3 h4{font-weight: normal;color: #333;padding-left: 10px; line-height: 32px;height: 32px;font-size: 18px}
.tb_pztscomimg3 span{color: #999;vertical-align: top;font-size: 12px;padding-left: 5px}
.tb_pztscomimg3 img{margin-top: 24px;width: 120px;height: 120px}
.tb_pzlt .h3_com{color: #28ABFF;;}
.tb_pzlt .h3_com:before{background-image: linear-gradient(45deg, #0087ff, #3bc7ff);background: #28ABFF;}
.tb_tslt{margin-left: 10px;background-color: #FFFFFF;width: 595px}
.tb_tslt .h3_com{color:  #ff5000;}
.tb_tslt .h3_com:before{background-image:linear-gradient(45deg, #ffd636, #ff5000);background: #ff5000;}
.tb_shzyh{margin-top: 10px;width: 100%}
.tb_shzyhlt{width: 100%}
.tb_shzyhlt h3{color: #31ba98;}
.tb_shzyhlt h3:before{background-image: linear-gradient(45deg, #b4ec51, #31ba98);background: #31ba98;}
.tb_shzyhlt .item{width: 238px;height: 200px}
.tb_shzyhlt h4{text-indent: 20px}
.tb_shzyhlt img{height: 120px;width: 120px}
.tb_shzyhlt .item .info{float: right;padding: 0 10px 0 0}
.tb_shzyhlt .info p:first-child{ margin-top: 22px;font-size: 16px;line-height: 24px;color: #333;}
.tb_shzyhlt .info p:nth-child(2){font-size: 14px}
.tb_shzyhlt .info a{margin-top: 13px;width: 76px;height: 22px;line-height: 22px;text-align: center;
    border: 1px solid #ff5000;color: #ff5000;border-radius: 12px;display: inline-block}
.tb_rmdp{margin-top: 10px;background-color: #FFFFFF;width: 100%}
.tb_rmdp .h3_com{border-bottom: none}
.tb_rmdpnav{height: 14px;line-height: 14px;width: 100%;padding-left: 15px;padding-bottom: 20px;border-bottom: 1px solid #f4f4f4}
.tb_rmdpnav a{padding:0 7px;color: #999;height: 14px;line-height: 14px;font-size: 12px;float: left;
font-weight: normal;text-indent: 0}
.tb_rmdpnav a:hover{color: #ff5000}
.tb_rmdpnav img{float: right;width: 32px;height: 15px;padding-right: 20px}
.tb_rmdpcom{width: 238px;height:;border: 1px solid #f4f4f4;border-left: 1px solid #fff;border-top: 1px solid #fff;
float: left}
.tb_rmdpcom:hover{border-color: #ff5000}
.tb_rmdpcom img{float: left; padding:20px 20px 0;width: 200px;height: 200px}
.tb_rmdpcom .title{ height: 40px;line-height: 20px;overflow: hidden;float: left;padding: 3px 20px;
    color: #666;font-size: 14px;}
.tb_rmdpcom .title img{height: 16px;position: relative;width: 28px;display: inline-block;top: 3px;
    margin-right: 5px;padding:0}
.tb_rmdpjudge{height: 18px;margin: 10px 0 17px 20px}
.tb_rmdpjudge a{color: #999;float: left;margin-right: 10px;}
.tb_rmdpprice{width: 100%;height: 22px;line-height: 22px;overflow: hidden;padding-bottom: 20px}
.tb_rmdpprice a:first-child{color: #ff5000;padding-left: 20px}
.tb_rmdpprice a:first-child em{font-size: 22px;margin-left: 2px;}
.tb_rmdpprice a:nth-child(2){color: #999;text-decoration: line-through;}
.tb_rmdpyx{color: #999;float: right; margin-top: 3px;margin-right: 20px}
.tb_cnxh .h3_com{width: 1168px;border-bottom: 1px solid #f4f4f4}
.tb_cnxhcom{position: relative}
.tb_cnxhcom img{padding:0;opacity: 0.9;transition: opacity 0.2s}
.tb_cnxhcoma{height: 200px;width: 200px;margin: 20px 20px 0;float: left;background-color: #000000}
.tb_cnxhcom img:hover{opacity:0.8 }
.tb_cnxhprice{padding: 15px 0}
.tb_cnxhprice a:nth-child(2){text-decoration:none}
.tb_cnxhfind{width:238px;height: 80px;position: absolute;bottom: 0;left:0;background-color: #ff5000;
display: none;}
.tb_cnxhfind a{width: 100%;height: 100%;float: left}
.tb_cnxhfind p:first-child{margin: 0 auto;width: 120px; margin-top: 15px;line-height: 32px;height: 32px;font-size: 18px;
    font-weight: normal;border-bottom: 1px solid #FE964A;color: #fff;text-align: center;}
.tb_cnxhfind p:last-child{line-height: 22px;font-size: 12px;height: 22px;color: #fff;text-align: center;}
.tb_cnxhcom:hover .tb_cnxhfind{display: block}
.tb_bot1{height: 50px;width: 100%;position: relative;margin-top: 10px}
.tb_bot1 p{text-align: center; color: #ccccd0;width: 80px;line-height: 20px;font-size: 18px;padding: 10px 560px;
float: left;position: relative}
.tb_bot1 p:before{content: ' ';position: absolute;height: 0; line-height: 0; border-top: 1px solid #e6e6e6;
    width: 60px;top:20px;left: 500px;}
.tb_bot1 p:after{content: ' ';position: absolute;height: 0; line-height: 0; border-top: 1px solid #e6e6e6;
    width: 60px;top:20px;left: 640px;}
.tb_help{padding: 40px 0;width: 100%}
.tb_helpwrap{padding: 0 25px;color: #3C3C3C;width:250px;padding-bottom: 20px}
.tb_helpwrap h4{padding-bottom: 20px;width: 100%;}
.tb_helpwrap span{padding-top: 12px;font-size: 16px;padding-left: 50px}
.tb_helpwrap li{float: left;line-height: 21px;color: #999999;margin-right: 20px;display: inline-block}
.tb_helpwrap a:hover{color: #ff5000}
.tb_footer{color: #6c6c6c}
.tb_footer_hd{width: 100%;border-bottom: 1px solid #ddd;}
.tb_footer_hd p{line-height: 27px;padding: 8px 0}
.tb_footer b{margin: 0 3px;font-weight: 400;color: #ddd;}
.tb_footer a:hover{color: #ff5000}
.tb_footer_bd p{line-height: 27px;}
.tb_footer_bd em{color: #9c9c9c;}
.tb_footer_bd span{background-image: url("icon/tb_footer.jpg") ;background-position: -861px 0;width: 20px;
    height: 20px;}
/*浮动搜索框*/
.tb_floatsh{width: 100%;height: 40px;background-color: #ffffff;position:fixed;left: 0;top:0;z-index: 20;
padding: 10px 0}
.tb_floatsh .img{padding-left: 10px;padding-top: 5px}
.tb_floatsh .img img{width: 80px;height:auto }
.tb_floatsh .tb_top2_shmd{padding-right: 305px}
.tb_floatnav{width: 50px;position:fixed;left: 1560px;top:475px;background-color: #ffffff;border-radius: 10px; overflow: hidden }
.tb_floatnav a{line-height: 17px;font-size: 12px;padding: 7px 12px;float: left;height: 30px;position: relative;
width: 26px;transition: all 0.2s;}
.tb_floatnav a:after{content: '';border-bottom: 1px solid #efefef;width: 34px;position: absolute;
    left: 8px;bottom:-1px;}
.tb_floatnav .tb_floatfk{line-height: 30px}
.tb_floatnav i{padding-left: 5px}
.tb_floatnav .color1{color: #ff5000;}
.tb_floatnav .color2{color: #8d7afb;}
.tb_floatnav a:hover{font-weight: 700;color: #ffffff;background-image: linear-gradient(135deg,#ff971b,#ff5000);5}
.tb_floatnav .active{font-weight: 700;color: #ffffff;background-image: linear-gradient(135deg,#ff971b,#ff5000);}